.container-register {
    margin: 4% 35% 2% 35%;
    padding: 2%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.35);

    .register-title {
        font-size: 2rem;
        text-align: center;
        color: #FF6464;
    }
}